body.light{
  --roman-silver: #000000;
  --white: #000000;
  --white_a10: #00000050;
  --light-gray: #00000050;
  --gray: #e6e0e0; 
  --gray2: #eeebeb;
  --dark-gray: #ffffff; 
  --black: #ffffff;
  --black2: #e7e5e5;
  color: #252525;
  & .logo{
    filter: brightness(-100%);
  }
}

.switch {
  font-size: 12px;
  position: relative;
  width: 3.5em;
  height: 2em;
  & input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .sunMoon {
      background-color: #fff;
      box-shadow: 3px -5px 8px -1px rgba(0,0,0,0.2);
      border: solid 0.5px var(--gray);
    }
    &:checked + .sunMoon:before {
      transform: translateX(100%);
      box-shadow: inset 15px -4px 0px 15px var(--yellow);
      bottom: 18%;
    }
  }
  & .sunMoon {
    width: 48px;
    height: 28px;
    position: absolute;
    top: 30%;
    cursor: pointer;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
    &:before {
      position: absolute;
      content: "";
      height: 1.5em;
      width: 1.4em;
      border-radius: 50%;
      left: 15%;
      bottom: 20%;
      box-shadow: inset 8px -4px 0px 0px var(--yellow);
      background: var(--background);
      transition: .5s;
    }
  }
}