@media (min-width: 575px) {
  .container { 
    max-width: 570px;
    width: 100%;
    margin-inline: auto;
  }
  
  .slider { --slider-items: 2; }
  
  .blog-card .card-content {
    padding-inline: 32px;
    gap: 32px;
  }

  .footer-list-title { margin-block-end: 8px; }
}
  
@media (max-width: 768px) {
  .hero-banner {
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
    align-items: center;
  }

  .hero-banner > img{
    margin-top: 60px;
    max-width: 300px;
  }
  
  .footer .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-direction: column;
  }
}
  
@media (min-width: 768px) {
  :root {
    --fs-2: 6rem;
  }
  
  .container { max-width: 720px; }
  
  .title-wrapper {
    display: flex;
    align-items: center;
    gap: 10%;
  }
  
  .title-wrapper .section-title { margin-block-end: 0; }
  
  .title-wrapper .section-text { 
    margin-block-start: 40px;
    text-align: justify; 
  }
  
  .hero .container { position: relative; }
  
  .hero-banner {
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
    align-items: center;
    flex-direction: column;
  }
  
  .hero-banner > img{
    max-width: 230px;
  }
  
  .hero-content {
    width: 100%;
    margin-inline-start: auto;
    padding-block: 10%;
  }
  
  .blog-card .card-title { --fs-4: 2.7rem; }
  
  .footer .container { grid-template-columns: repeat(3, 1fr); }
}
  
@media (min-width: 993px) {
  .container { max-width: 960px; }
  
  .title-wrapper { gap: 15%; }
  
  .slider { --slider-items: 3; }
  
  .hero-subtitle { --fs-8: 1.4rem; }
  
  .hero-banner {
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
    align-items: center;     
  }

  .hero-banner > img{
    max-width: 425px;  
  }
  
  .blog-card {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
  
  .blog-card .card-content { 
    padding: 32px; 
    justify-content: center;
    align-items: center;
    & h3{
      margin-top: -10px;
    }
  }
}

@media (min-width: 993px){
  .nav-open-btn,
  .navbar-top,
  .navbar .wrapper,
  .overlay { display: none; }
   
  .header {
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    &.active {
      top: 0;
      left: 0;
      max-width: unset;
      border-radius: 0;  
    }
    & .container{
      & .navbar,
      & .navbar.active{
        all: unset;
        display: flex;
        flex-grow: 1;
        & .navbar-list {
          display: flex;
          margin-inline: auto;
        }
      }
    }
  }
}

@media(max-width:992px){
  .header{
    & .container{
      & .navbar-list{
        flex-direction: column;
        height: 100%;
        gap: 0px;
      }
    }
  }
  
  .slider.fade-in .arrow-animate{
    display: block;
  }

  .footer-list-title{
    text-align: center;
  }
}

@media (max-width: 800px) {
  .contact{
    & .container{
      & .contact-card {
        grid-template-columns: 1fr;
        gap: 10px;
        text-align: center;
        align-items: center;
      }
    }
  }
    
  .send-mail {
    margin: 0 auto;
  }
}
  
  @media (min-width: 1200px) {
    :root {
      --section-padding: 20px;
    }
 
    .container { max-width: 1240px; }
  
    .header { max-width: 1140px; }
  
    .hero-content { width: 55%; }
  
    .hero-title { word-break: normal; }

     .hero-banner {
      position: absolute;
      top: 19.5%;
      left: 0px;
      transform: translateX(10%);
      width: 40%;
      z-index: -1;
    }
  }
    
  @media (min-width: 1400px) {
  
    .header { max-width: 1320px; }
  }