.slider {
  --slider-items: 1;
  --item-gap: 12px;
  margin-block-start: 60px;
  overflow: hidden;
  & .slider-container {
    position: relative;
    display: flex;
    gap: var(--item-gap);
    transition: transform var(--cubic-ease-out);
    & .slider-item {
      --total-gap: calc(var(--item-gap) * (var(--slider-items) - 1));
      --item-width: calc((100% / var(--slider-items)) - (var(--total-gap) / var(--slider-items)));
      min-width: var(--item-width);
      width: var(--item-width);
      border-radius: 25px;
    }
  }
}
  
.slider-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-block-start: 40px;
  & .slider-control {
    position: relative;
    max-width: max-content;
    padding-block: 8px;
    &.prev{
      & .arrow{
        left: 0;
        border-width: 0 0 1px 1px;
      }
    }
    &.next{
      & .arrow{
        right: 0;
        border-width: 1px 1px 0 0;
      }
    }
    & .line{
      width: 30px;
      height: 1px;
      background-color: var(--white);
    }
    & .arrow {
      position: absolute;
      transform: translateY(-60%) rotate(45deg);
      width: 10px;
      height: 10px;
      border-style: solid;
      border-color: var(--white);
    }
  }
}
  
.img-holder {
  background-color: var(--white_a5);
  overflow: hidden;
  border-radius: 25px;
  & .img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
  }
}