html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: var(--ff-lato);
}

body {
  background-color: var(--cinza-escuro);
  color: var(--roman-silver);
  font-size: 1.6rem;
  line-height: 1.75;
  transition: all 0.2s ease-in;
}

.header {
  max-width: 1320px;
  position: absolute;
  background-color: var(--black2);
  width: 100%;
  padding: 20px;
  z-index: 4;
  &.active{
    position: fixed;
    animation: slideIn 0.5s ease forwards;
  }
  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .logo{
      color: var(--white);
      font-size: 30px;
      text-decoration: underline;
      &:hover{
        opacity: 0.5;
      }
    }
    & .navbar {
      position: fixed;
      top: 0;
      right: -5px;
      background-color: var(--cinza-escuro);
      color: var(--white);
      max-width: 300px;
      height: 100vh;
      padding: 25px 30px 85px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 30px;
      z-index: 2;
      visibility: hidden;
      transition: 0.4s ease-in-out;
      transform: translateX(300px);
      &.active {
        visibility: visible;
        transform: translateX(0px);
        & .navbar-top {
          display: flex;
          justify-content: space-between;
          align-items: center;
          & .nav-close-btn {
            background-color: var(--cinza-claro2);
            color: var(--white);
            font-size: 2rem;
            padding: 6px;
            border-radius: var(--radius-circle);
            transition: var(--transition-1);
            & ion-icon { 
              --ionicon-stroke-width: 50px; 
            }
          }
        }
      }
      & .wrapper{
        & .contact-link{
          &:hover{
            opacity: 0.5;
          }
        }
      }
    }
    & .navbar-list{
      display: flex;
      gap: 36px;
      & .navbar-link {
        font-weight: var(--fw-700);
        padding: 6px;
        color: var(--white);
        &:hover{
          opacity: 0.5;
        }
      }
    }
    & .nav-open-btn {
      font-size: 3.5rem;
      color: var(--white);
    }
    & .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: var(--black);
      pointer-events: none;
      opacity: 0;
      transition: var(--transition-1);
      &.active{
        pointer-events: all;
        overflow: hidden;
        opacity: 0.8;
      }
    }
  }
}

@keyframes slideIn {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

.hero { 
  padding-block-start: 80px;
  & .container{
    & .hero-banner > img {
      border-radius: 4vw 4vw 8vw 2vw;
    }
    & .hero-title {
      text-transform: uppercase;
      word-break: break-all;
    }
    & .hero-subtitle {
      font-size: var(--fs-8);
      text-transform: uppercase;
      font-weight: var(--fw-700);
      color: var(--white);
      letter-spacing: 2px;
      line-height: 1.5em;
      margin-block: 10px 30px;
    }
    & .section-text { 
      text-align: justify;
      margin-block: 30px;
    }
    & .links-resume{
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 500px;
      gap: 20px;
      flex-wrap: wrap;
      & .followContact{
        display: flex;
        justify-content:center;
        align-items: center;
        & > a:first-child{
          border: 2px solid var(--cinza-claro2);
          color: var(--white);
          padding: 20px 32px;
          border-radius: 15px;
          text-transform: uppercase;
         
          display: flex;
          justify-content: center;
          align-items: center;
          transition: border 300ms ease;
          &:hover{
            border: 2px solid var(--white);
          }
        }
        & .fa-envelope{
          margin-right: 5px;
        }
      }
    }
  }
}

.service{
  & .container{
    & .slider{
      & .service-list{
        & .slider-item{
          & .service-card{
            background-color: var(--gray);
            height: 100%;
            padding: 10px 40px 40px 40px;
            transition: all 0.3s ease-in-out;
            border: 2px solid transparent;
            border-radius: 25px;
            &:is(:hover, :focus-within) {
              background-color: transparent;
              border: 2px solid var(--white);
            }
            & .card-icon {
              color: var(--content-color, var(--white));
              font-size: 8rem;
              --ionicon-stroke-width: 15px;
              text-align: center;
            }
            & .card-title {
              color: var(--content-color, var(--white));
              margin-block: 20px;
            }
            & ul{
              & .card-text { 
                color: var(--white); 
                list-style: inside;
              }
            }
          }
        }
      }
    }
  }
}

.blog{
  & .container{
    & .blog-list{
      display: grid;
      gap: 60px;
      & li{
        & .blog-card {
          display: grid;
          gap: 40px;
          & .card-banner{
            max-width: 100%;
            max-height: 470px;
          }
          & .card-content {
            display: flex;
            gap: 16px;
            padding-inline: 16px;
            & .card-text { 
              margin-block: 20px; 
              text-align: justify;
            }
            & details{
              width: fit-content;
              color: var(--white);
              margin-bottom: 20px;
              &:hover{
                cursor: pointer;
              }
              & p{
                color: var(--roman-silver);
              }
            }
          }          
        }
      }
    }
  }
}

.portfolio{
  & .fade-in{
    & .arrow-animate{
      & ion-icon{
        color: var(--white);
        scale: 2.5;
        position: absolute;
        bottom: 0.1vh;
        right: 0;
        z-index: 1;
        animation: leftuparrow 0.6s infinite alternate ease-in-out;
      }
      & .text-absolute{
        position: relative;
        width: 85px;
        & p{
          position: absolute;
          right: 0;
          top: 10px;
          color: var(--white);
        }
      }
    }
    & .slider-container{
      & .slider-item{
        & .portfolio-card{
          position: relative;
          background-color: transparent;
          transition: var(--cubic-ease-out);
          &:is(:hover, :focus-within) .img-cover {
            opacity: 0.1;
            transform: scale(0.95);
          }
          &:is(:hover, :focus-within) .card-content {
            transform: translate(-50%, -50%);
            opacity: 1;
          }
          & .img-cover{
            transition: var(--cubic-ease-out);
          }
          & .card-content{
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;
            width: 100%;
            transform: translate(-55%, -50%);
            opacity: 0;
            transition: var(--cubic-ease-out);
            z-index: 1;
            & .card-text{
              padding: 0 10px;
              color: var(--white);
            }
            & .links-list{
              display: flex;
              width: 100%;
              justify-content: center;
              gap: 20px;
              & a{
                color: var(--white);
                text-decoration: underline;
                font-size: 20px;
                &:hover{
                  opacity: 0.5;
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes leftuparrow{
  0% {
      -webkit-transform: rotate(45deg) translateX(-0.7em); opacity: 0.4;
  }
  100%{
      -webkit-transform: rotate(25deg) translateX(0); opacity: 0.9; 
  }
}

.a-github{
  margin: 30px auto;
  & .github-content {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: var(--white);
    background: var(--gray2);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    display: block;
    font-size: clamp(1.2rem, 2vw, 2rem);
    transition: all 0.2s ease-in-out;
    &:before {
      content: "";
      background: linear-gradient(
        45deg,
        #9938bd,
        #4c5fd1,
        #b1368a,
        #dc2d7a,
        #d12d8d,
        #a53396,
        #eb3d5a
      );
      position: absolute;
      top: -2px;
      left: -2px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: github-effect 17s linear infinite;
      transition: opacity 0.3s ease-in-out;
      border-radius: 10px;
    }
    &:after {
      z-index: -1;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: var(--gray2);
      left: 0;
      top: 0;
      border-radius: 10px;
    }
    &:hover{
      scale: 1.05;
    }
  }
}

@keyframes github-effect {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.contact { 
  padding-block-end: 0; 
  margin-bottom: 40px;
  padding-top: 0px;
  & .container{
    & .contact-card {
      background-color: var(--black2);
      transition: background-color 0.2s ease-in;
      padding: clamp(10px, 2vw, 32px);
      padding-top: 32px;
      padding-bottom: 32px;
      border-radius: 10px;
      display: grid;
      gap: 40px;
      grid-template-columns: 0.8fr 1fr;
      align-items: center;
      gap: 90px;
      & .contact-content{
        & .card-icon{
          & .email-envelope{
            font-size: 60px;
          }
        }
        & .section-title{ 
          margin-block-start: 20px; 
        }
        & .section-text{
          margin-bottom: 20px;
        }
      }
      & .contact-form{
        & .input-field{
          background-color: var(--gray2);
          font-size: var(--fs-7);
          color: var(--white);
          padding: 14px 18px;
          border-radius: 8px;
          outline: none;
          margin-block-end: 20px;
          border: 2px solid var(--roman-silver);
          width: 80%;
          font-weight: 300;
        }
        & textarea{
          width: 80%;
          height: 100px;
          color: var(--white);
          background-color: var(--gray2);
          border: 2px solid var(--roman-silver);
          border-radius: 8px;
          padding-left: 9.93px;
          padding-top: 8px;
          resize: none;
          margin-bottom: 10px;
          outline: none;
        }
        & .send-mail {
          color: var(--white);
          font-size: var(--fs-6);
          font-weight: 700;
          border: 2px solid var(--white);
          max-width: max-content;
          padding: 12px 28px;
          border-radius: 10px;
          transition: var(--transition-1);
          will-change: transform;
          &:is(:hover, :focus-visible) {
            border: 2px solid var(--cinza-claro2);
          }
        }
      }
    }
  }
}

.footer {
  background-color: var(--black2);
  padding-block: 76px;
  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    & .footer-list{
      & a.footer-link:hover{
        opacity: 0.5;
      }
    }
    & .social-list {
      display: flex;
      gap: 8px;
      & .social-link {
        width: 45px;
        height: 45px;
        display: grid;
        place-items: center;
        border: 2px solid var(--white_a10);
        border-radius: var(--radius-circle);
        color: var(--white);
        transition: var(--transition-1);
        &:is(:hover, :focus-visible) { 
          border-color: var(--white); 
        }
      }
    }
  }
}