:root {
  --roman-silver: #a8a094;
  --white: #ffffff;
  --white_a5: #ffffff0d;
  --white_a10: #ffffff1a;
  --light-gray: #2f2f2f;
  --gray: #1a1c1d;
  --gray2: #26292b;
  --dark-gray: #121212;
  --black: #000000;
  --black2: #1e2021;
  --red: #FF3838;
  --red_a20: #ff383833;
  --yellow: #fff000;
  --background: #373737;
  
  --ff-lato: 'Lato', sans-serif;
  
  --fs-2: clamp(4.5rem, 6vw, 6rem);
  --fs-3: clamp(3.45rem, 6vw, 7rem);
  --fs-4: clamp(2.4rem, 2.5vw, 2.7rem);
  --fs-5: 2rem;
  --fs-8: clamp(1.2rem, 2vw, 1.4rem);
    
  --fw-700: 700;
  --fw-800: 800;
  
  --section-padding: 50px;
  
  --radius-circle: 50%;
  
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-ease-out: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}